<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} ^(www\.)?loganexpresscare\.com\.au$ [NC]
RewriteRule ^(.*)$ https://loganexpresscare.com.au/$1 [L,R=301]
</IfModule>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.)?loganexpresscare\.com\.au$ [NC]
RewriteRule .* - [E=UPGRADE]
    <IfModule mod_headers.c>
        Header always set Content-Security-Policy "upgrade-insecure-requests;" env=UPGRADE
    </IfModule>
</IfModule>
